{% if cart != empty and settings.enable_goal %}
  {% assign progress_threshold_cents = settings.cart_goal | times: 100 %}
  {% assign pre_goal_message_template = settings.cart_pre_goal_message %}
  {% assign post_goal_message = settings.post_goal_message %}

  {% assign cart_total_cents = cart.total_price %}
  {% assign progress_fraction = cart_total_cents | times: 1.0 | divided_by: progress_threshold_cents %}
  {% assign progress_percentage = progress_fraction | times: 100 %}
  {% if progress_percentage > 100 %}
    {% assign progress_percentage = 100 %}
  {% endif %}
  {% assign remaining_for_goal = progress_threshold_cents | minus: cart_total_cents %}
  {% if remaining_for_goal < 0 %}
    {% assign remaining_for_goal = 0 %}
  {% endif %}
  {% if settings.currency_code_enabled %}
    {% assign remaining_for_goal_formatted = remaining_for_goal | money_with_currency %}
  {% else %}
    {% assign remaining_for_goal_formatted = remaining_for_goal | money %}
  {% endif %}

  {% assign dynamic_pre_goal_message = pre_goal_message_template | replace: '[x]', remaining_for_goal_formatted %}

  <div
    id="cart-progress-wrapper"
    class="{% if progress_percentage == 100 %}full{% else %}not-full{% endif %} cart-goal-container color-{{ settings.cart_bar_color_scheme }} gradient"
    data-threshold="{{ progress_threshold_cents }}"
    data-pre-goal-message-template="{{ pre_goal_message_template | escape }}"
    data-post-goal-message="{{ post_goal_message | escape }}"
    data-currency-format="
      {% if settings.currency_code_enabled %}
        {{ shop.money_with_currency_format | escape }}
      {% else %}
        {{ shop.money_format | escape }}
      {% endif %}
    "
  >
    {%- if settings.cart_type != 'drawer' -%}<div class="page-width">{% endif %}
    <div class="goal-message {% if settings.cart_goal_text_style == 'uppercase' %} caption-with-letter-spacing{% elsif settings.cart_goal_text_style == 'subtitle' %} subtitle{% endif %}">
      {% if remaining_for_goal > 0 %}
        {{ dynamic_pre_goal_message }}
      {% else %}
        {{ post_goal_message }}
      {% endif %}
    </div>
      {% if settings.enable_cart_progress_bar %}
      <div class="cart-progress-bar-container">
        <div id="cart-progress-bar" style="width: {{ progress_percentage }}%;"></div>
      </div>
      {% endif %}
    {%- if settings.cart_type != 'drawer' -%}</div>{% endif %}
  </div>
{% endif %}

<style>
  {%- if settings.cart_type == 'drawer' -%}
  .cart-goal-container {
    padding: 1rem 2rem;
  }
    {% else %}
  .cart-goal-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
    {% endif %}
  .cart-progress-bar-container {
    width: 100%;
    background-color: {{ settings.cart_progress_bar_background_color }};
    border-radius: {{ settings.cart_bar_radius }}px;
    margin: 10px auto 0;
    padding: 0px;
    overflow: hidden;
  }

  #cart-progress-bar {
    display: block;
    height: {{settings.cart_bar_height}}px;
    background-color: var(--progress-bar-color, {{ settings.cart_progress_bar_color }}); /* Default color */
    border-radius: {{ settings.cart_bar_radius }}px;
    transition: width 0.5s ease-in-out;
    border: 1px solid var(--progress-bar-border-color, {{ settings.cart_progress_bar_color }});
    padding: 0;
    box-sizing: border-box;
  }

  #cart-progress-wrapper.full #cart-progress-bar {
    --progress-bar-color: {{ settings.cart_progress_bar_full_color }};
    --progress-bar-border-color: {{ settings.cart_progress_bar_full_color }};
  }

  .goal-message {
    text-align: {{settings.cart_text_align}};
    font-size: {{settings.cart_goal_text_size}}px;
    color: {{ settings.cart_progress_bar_text_color }};
  }
</style>
