{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign full_width = section.settings.full_width
  assign content_width = section.settings.content_width
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign heading = section.settings.heading
  assign heading_size = section.settings.heading_size
  assign heading_size_mobile = section.settings.heading_size_mobile
  assign heading_color = section.settings.heading_color
  assign heading_height = section.settings.heading_height
  assign heading_align = section.settings.heading_align
  assign heading_align_mobile = section.settings.heading_align_mobile

  assign sub_heading = section.settings.sub_heading
  assign sub_heading_size = section.settings.sub_heading_size
  assign sub_heading_size_mobile = section.settings.sub_heading_size_mobile
  assign sub_heading_color = section.settings.sub_heading_color
  assign sub_heading_height = section.settings.sub_heading_height
  assign sub_heading_align = section.settings.sub_heading_align
  assign sub_heading_align_mobile = section.settings.sub_heading_align_mobile

  assign slider_view = section.settings.slider_view
  assign slider_view_mobile = section.settings.slider_view_mobile
  assign slider_gap = section.settings.slider_gap
  assign slider_gap_mobile = section.settings.slider_gap_mobile
  assign slider_mt = section.settings.slider_mt
  assign slider_mt_mobile = section.settings.slider_mt_mobile

  assign slide_ratio_mobile = section.settings.slide_ratio_mobile
  assign slide_ratio = section.settings.slide_ratio
  assign slide_radius = section.settings.slide_radius
  assign slide_border_thickness = section.settings.slide_border_thickness
  assign slide_border_color = section.settings.slide_border_color

  assign arrow_size = section.settings.arrow_size
  assign arrow_size_mobile = section.settings.arrow_size_mobile
  assign arrow_icon_size = section.settings.arrow_icon_size
  assign arrow_icon_size_mobile = section.settings.arrow_icon_size_mobile
  assign arrow_color = section.settings.arrow_color
  assign arrow_hover_color = section.settings.arrow_hover_color
  assign arrow_bg_color = section.settings.arrow_bg_color
  assign arrow_bg_hover_color = section.settings.arrow_bg_hover_color
  assign arrow_radius = section.settings.arrow_radius
  assign arrow_border_thickness = section.settings.arrow_border_thickness
  assign arrow_border_color = section.settings.arrow_border_color
  assign arrow_border_hover_color = section.settings.arrow_border_hover_color
  assign arrow_show_desktop = section.settings.arrow_show_desktop
  assign arrow_show_mobile = section.settings.arrow_show_mobile
  assign arrow_hover_effect = section.settings.arrow_hover_effect

  assign modal_width = section.settings.modal_width
  assign modal_horizontal_position = section.settings.modal_horizontal_position
  assign modal_vertical_position = section.settings.modal_vertical_position
  assign modal_radius = section.settings.modal_radius
  assign modal_border_thickness = section.settings.modal_border_thickness
  assign modal_border_color = section.settings.modal_border_color
  assign modal_overlay = section.settings.modal_overlay
  assign modal_overlay_color = section.settings.modal_overlay_color

  assign modal_buttons_size = section.settings.modal_buttons_size
  assign modal_buttons_size_mobile = section.settings.modal_buttons_size_mobile
  assign modal_buttons_icon_color = section.settings.modal_buttons_icon_color

  assign use_progress = section.settings.use_progress

  assign player_size_mobile = section.settings.player_size_mobile
  assign player_size = section.settings.player_size
  assign player_color = section.settings.player_color

  assign toggle_text = section.settings.toggle_text
  assign toggle_size = section.settings.toggle_size
  assign toggle_size_mobile = section.settings.toggle_size_mobile
  assign toggle_color = section.settings.toggle_color
  assign toggle_height = section.settings.toggle_height

  assign product_padding_vertical = section.settings.product_padding_vertical
  assign product_padding_vertical_mobile = section.settings.product_padding_vertical_mobile
  assign product_padding_horizontal = section.settings.product_padding_horizontal
  assign product_padding_horizontal_mobile = section.settings.product_padding_horizontal_mobile
  assign product_radius = section.settings.product_radius

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_height = section.settings.title_height
  assign title_color = section.settings.title_color

  assign price_size = section.settings.price_size
  assign price_size_mobile = section.settings.price_size_mobile
  assign price_height = section.settings.price_height
  assign price_original_color = section.settings.price_original_color
  assign price_compare = section.settings.price_compare

  assign compare_price_color = section.settings.compare_price_color

  assign product_image_radius = section.settings.product_image_radius
  assign product_image_size = section.settings.product_image_size
  assign product_image_size_mobile = section.settings.product_image_size_mobile
-%}

{%- style -%}
    .single-line-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: calc({{ title_size }}px + {{ title_size }}px / 2 );
  }
    @media screen and (max-width: 600px) {
       .single-line-title {
    max-height: calc({{ title_size_mobile }}px + {{ title_size_mobile }}px / 2 );
  }
    }


    .section-{{ section.id }} {
      border-top: solid {{ border_color }} {{ border_thickness }}px;
      border-bottom: solid {{ border_color }} {{ border_thickness }}px;
      margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
      margin-left: {{ margin_horizontal_mobile }}rem;
      margin-right: {{ margin_horizontal_mobile }}rem;
      border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
      overflow: hidden;
    }

    .section-{{ section.id }}-settings {
      margin: 0 auto;
      padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
      padding-left: {{ padding_horizontal_mobile }}rem;
      padding-right: {{ padding_horizontal_mobile }}rem;
    }

    .video-heading-{{ section.id }} {
      text-align: {{ heading_align_mobile }};
    }

    .video-heading-{{ section.id }} * {
      margin: 0;
      font-size: {{ heading_size_mobile }}px;
      color: {{ heading_color }};
      line-height: {{ heading_height }}%;
      text-transform: unset;
    }

     .video-sub-heading-{{ section.id }} {
      text-align: {{ sub_heading_align_mobile }};
    }

    .video-sub-heading-{{ section.id }} * {
      margin: 0;
      font-size: {{ sub_heading_size_mobile }}px;
      color: {{ sub_heading_color }};
      line-height: {{ sub_heading_height }}%;
      text-transform: unset;
    }

    .video-slider-wrapper-{{ section.id }} {
      margin-top: {{ slider_mt_mobile }}px;
      position: relative;
    }

    .video-slider-{{ section.id }} {
      margin-left: -{{ padding_horizontal_mobile }}px !important;
      margin-right: -{{ padding_horizontal_mobile }}px !important;
      padding-left: {{ padding_horizontal_mobile }}px !important;
      padding-right: {{ padding_horizontal_mobile }}px !important;
      overflow: visible !important;
    }

    .video-slider-{{ section.id }} .swiper-wrapper {
      align-items: stretch !important;
    }

    .video-slide-{{ section.id }} {
      border-radius: {{ slide_radius }}px;
      overflow: hidden;
      border: {{ slide_border_thickness }}px solid {{ slide_border_color }};
      cursor: pointer;
      box-sizing: border-box !important;
      background-color: #f2f2f2;
    }

    .video-slide-{{ section.id }} video,
    .video-slide-{{ section.id }} svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: none;
      border: 0px;
    }

    .video-slide-{{ section.id }} svg {
      background-color: #f2f2f2;
    }

    .video-btn-prev-{{ section.id }},
    .video-btn-next-{{ section.id }} {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      width: {{ arrow_size_mobile }}px;
      height: {{ arrow_size_mobile }}px;
      border: 0px;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_color }};
      border-radius: {{ arrow_radius }}px;
      background: transparent;
      background: {{ arrow_bg_color }};
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      -webkit-appearance: none;
    }

    .video-btn-prev-{{ section.id }} {
      left: 0px;
    }

    .video-btn-next-{{ section.id }} {
      right: 0px;
    }

    .video-btn-prev-{{ section.id }} .animate-icon,
    .video-btn-next-{{ section.id }} .animate-icon {
      pointer-events: none;
      place-items: center;
      display: grid;
    }

    .video-btn-prev-{{ section.id }} .animate-icon:before,
    .video-btn-next-{{ section.id }} .animate-icon:before {
      content: "";
      grid-area: 1 / -1;
      transition: all .2s ease;
      width: {{ arrow_icon_size_mobile }}px;
      height: {{ arrow_icon_size_mobile }}px;
      transform: rotate(calc(1 * 45deg));
      box-sizing: border-box;
      border-style: solid;
      border: 0px;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      position: relative;
      left: -1px;
    }

    .video-btn-prev-{{ section.id }} .animate-icon:before {
      left: unset;
      right: -1px;
      border-right: 0px;
      border-top: 0px;
      border-bottom: 2px solid currentColor;
      border-left: 2px solid currentColor;
    }

    .video-btn-prev-{{ section.id }} .animate-icon:after,
    .video-btn-next-{{ section.id }} .animate-icon:after {
      content: "";
      grid-area: 1 / -1;
      transition: all .2s ease;
      width: {{ arrow_icon_size_mobile | minus: 0.3 }}px;
      height: 1.6px;
      transform-origin: center;
      opacity: 0;
      background: currentColor;
      transform: scaleX(.5);
    }

    .video-btn-prev-{{ section.id }} span,
    .video-btn-next-{{ section.id }} span {
      color: {{ arrow_color }};
    }

    .video-btn-prev-{{ section.id }}.swiper-button-disabled,
    .video-btn-next-{{ section.id }}.swiper-button-disabled {
      opacity: 0.5;
    }

    .video-modal-{{ section.id }} {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: {{ modal_overlay_color | hex_to_rgba: modal_overlay }};
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      transition: all 0.25s ease 0s;
    }

    .video-modal-{{ section.id }}.active {
      opacity: 1;
      pointer-events: all;
      z-index: 100;
      transition: all 0.25s ease 0s;
    }

    .video-modal-inner-{{ section.id }} {
      width: 100%;
      display: grid;
      max-height: 80vh;
      height: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: {{ modal_radius }}px;
      border: {{ modal_border_thickness }}px solid {{ modal_border_color }};
    }

    .video-modal-close-{{ section.id }},
    .video-modal-sound-{{ section.id }},
    .video-modal-btn-prev-{{ section.id }},
    .video-modal-btn-next-{{ section.id }} {
      width: {{ modal_buttons_size_mobile }}px;
      height: {{ modal_buttons_size_mobile }}px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: transparent;
      border: 0px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, .2);
      cursor: pointer;
    }

    .video-modal-close-{{ section.id }} svg,
    .video-modal-toggle-{{ section.id }} svg,
    .video-modal-sound-{{ section.id }} svg,
    .video-modal-btn-prev-{{ section.id }} svg,
    .video-modal-btn-next-{{ section.id }} svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-modal-close-{{ section.id }} svg path,
    .video-modal-toggle-{{ section.id }} svg path,
    .video-modal-sound-{{ section.id }} svg path:nth-child(2),
    .video-modal-btn-prev-{{ section.id }} svg path,
    .video-modal-btn-next-{{ section.id }} svg path {
      fill: {{ modal_buttons_icon_color }};
    }

    .video-modal-btn-prev-{{ section.id }} svg {
      transform: rotate(-90deg);
    }

    .video-modal-btn-next-{{ section.id }} svg {
      transform: rotate(90deg);
    }

    .video-modal-slider-{{ section.id }} {
      height: 100%;
      width: 100%;
    }

    .video-modal-slide-{{ section.id }} {
      cursor: pointer;
      position: relative;
      box-sizing: border-box !important;
    }

    .video-modal-video-{{ section.id }} {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .video-modal-video-{{ section.id }} video,
    .video-modal-video-{{ section.id }} > svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-modal-video-{{ section.id }} > svg {
      background-color: #AFAFAF;
    }

    #progress{{ section.id | replate: '-', '' }} {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      height: 8px;
      background-color: rgba(255, 255, 255, 0.2)
    }

    #progress{{ section.id | replate: '-', '' }}[value] {
      appearance: none;
      border: none;
      color: #ffffff;
    }

    #progress{{ section.id | replate: '-', '' }}[value]::-webkit-progress-value {
      background: white;
      transition: width 0.5s linear;
    }

    #progress{{ section.id | replate: '-', '' }}[value]::-moz-progress-bar {
      background: #ede8e8:
    }

    .video-modal-player-{{ section.id }} {
      background: none;
      width: {{ player_size_mobile }}px;
      height: {{ player_size_mobile }}px;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.25s ease 0s;
      border: none;
      cursor: pointer;
      z-index: 2;
      padding: 0px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.25s ease 0s;
    }

    .video-modal-slide-{{ section.id }}.active .video-modal-player-{{ section.id }} {
      opacity: 1;
      transition: all 0.25s ease 0s;
    }

    .video-modal-player-{{ section.id }} svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-modal-player-{{ section.id }} path {
      fill: {{ player_color }};
    }

    .video-modal-content-{{ section.id }} {
      padding: 12px 10px;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .video-modal-content-top-{{ section.id }} {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .video-modal-controls-{{ section.id }} {
      display: flex;
      flex-direction: column;
    }

    .video-modal-controls-center-{{ section.id }} {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .video-modal-controls-top-{{ section.id }} {
      display: block !important;
    }

    .video-modal-content-left-{{ section.id }},
    .video-modal-controls-{{ section.id }} {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }

    .video-modal-sound-{{ section.id }} .video-modal-unmute-{{ section.id }} {
      display: none;
    }

    .video-modal-sound-{{ section.id }}.active .video-modal-unmute-{{ section.id }} {
      display: block;
    }

    .video-modal-sound-{{ section.id }}.active .video-modal-mute-{{ section.id }} {
      display: none;
    }

    .video-modal-toggle-{{ section.id }} {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: transparent;
      border: 0px;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, .2);
      cursor: pointer;
      border-radius: 200px;
    }

    .video-modal-toggle-{{ section.id }}.active {
      width: {{ modal_buttons_size_mobile }}px;
      height: {{ modal_buttons_size_mobile }}px;
    }

    .video-modal-toggle-{{ section.id }} span {
      margin: 0;
      font-size: {{ toggle_size_mobile }}px;
      color: {{ toggle_color }};
      line-height: {{ toggle_height }}%;
      text-transform: unset;
      padding-right: 10px;
    }

    .video-modal-toggle-{{ section.id }}.active span {
      display: none;
    }

    .video-modal-toggle-{{ section.id }}:not(.active) svg {
      width: 14px;
    }

    .video-modal-toggle-{{ section.id }} svg {
      transform: rotate(-90deg);
    }

    .video-modal-toggle-{{ section.id }}.active svg {
      transform: rotate(90deg);
    }

    .video-modal-product-{{ section.id }} {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, .2);
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: {{ product_radius }}px;
      transition: all 0.25s ease 0s;
      cursor: pointer;
      text-decoration: none;
      padding-left: {{ product_padding_horizontal_mobile }}px;
      padding-right: {{ product_padding_horizontal_mobile }}px;
    }

    .video-modal-product-{{ section.id }}.active {
      margin-top: 10px;
      margin-bottom: 10px;
      max-height: 100%;
      opacity: 1;
      pointer-events: all;
      transition: all 0.25s ease 0s;
      padding-top: {{ product_padding_vertical_mobile }}px;
      padding-bottom: {{ product_padding_vertical_mobile }}px;
    }

    .video-product-image-{{ section.id }} {
      width: {{ product_image_size_mobile }}px;
      margin-right: 15px;
      border-radius: {{ product_image_radius }}px;
      overflow: hidden;
      flex-shrink: 0;
    }

    .video-product-image-{{ section.id }} img,
    .video-product-image-{{ section.id }} svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
    }

    .video-product-image-{{ section.id }} svg {
      background-color: #ababab;
    }

    .video-product-text-{{ section.id }} {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      gap: 6px;
    }

    .video-product-title-{{ section.id }} {
      margin: 0;
      display: block;
      text-transform: unset;
      word-wrap: break-word;
      font-size: {{ title_size_mobile }}px;
      color: {{ title_color }};
      line-height: {{ title_height }}%;
    }

    .video-product-price-{{ section.id }} {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    .video-product-price-{{ section.id }} * {
      margin: 0;
      display: block;
      text-transform: unset;
      word-wrap: break-word;
      font-size: {{ price_size_mobile }}px;
      color: {{ price_original_color }};
      line-height: {{ price_height }}%;
      white-space: nowrap
    }

    .video-product-compare-price-{{ section.id }} {
      text-decoration: line-through;
      color: {{ compare_price_color }};
    }

    @media(min-width: 1024px) {

      .section-{{ section.id }} {
        margin-top: {{ margin_top }}px;
        margin-bottom: {{ margin_bottom }}px;
        margin-left: {{ margin_horizontal }}rem;
        margin-right: {{ margin_horizontal }}rem;
        border-radius: {{ section_radius }}px;
      }

      .section-{{ section.id }}-settings {
        padding: 0 5rem;
        padding-top: {{ padding_top }}px;
        padding-bottom: {{ padding_bottom }}px;
        padding-left: {{ padding_horizontal }}rem;
        padding-right: {{ padding_horizontal }}rem;
      }

      .video-heading-{{ section.id }} {
        text-align: {{ heading_align }};
      }

      .video-heading-{{ section.id }} * {
        font-size: {{ heading_size }}px;
      }

      .video-sub-heading-{{ section.id }} {
        text-align: {{ sub_heading_align }};
      }

      .video-sub-heading-{{ section.id }} * {
        font-size: {{ sub_heading_size }}px;
      }

      .video-slider-{{ section.id }} {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: hidden !important;
      }

      .video-slider-wrapper-{{ section.id }} {
        margin-top: {{ slider_mt }}px;
        padding-left: 0;
        padding-right: 0;
      }

      .video-btn-prev-{{ section.id }},
      .video-btn-next-{{ section.id }} {
        width: {{ arrow_size }}px;
        height: {{ arrow_size }}px;
        transition: all 0.25s ease 0s;
      }

      .video-btn-prev-{{ section.id }} .animate-icon:before,
      .video-btn-next-{{ section.id }} .animate-icon:before {
        width: {{ arrow_icon_size }}px;
        height: {{ arrow_icon_size }}px;
      }

      .video-btn-prev-{{ section.id }} .animate-icon:after,
      .video-btn-next-{{ section.id }} .animate-icon:after {
        width: {{ arrow_icon_size | minus: 0.3 }}px;
      }

      .video-modal-{{ section.id }} {
        align-items: {{ modal_vertical_position }};
        justify-content: {{ modal_horizontal_position }};
      }

      .video-modal-inner-{{ section.id }} {
        max-width: {{ modal_width }}px;
      }

      .video-modal-close-{{ section.id }},
      .video-modal-sound-{{ section.id }},
      .video-modal-btn-prev-{{ section.id }},
      .video-modal-btn-next-{{ section.id }} {
        width: {{ modal_buttons_size }}px;
        height: {{ modal_buttons_size }}px;
      }

      .video-modal-player-{{ section.id }} {
        width: {{ player_size }}px;
        height: {{ player_size }}px;
      }

      .video-modal-toggle-{{ section.id }}.active {
        width: {{ modal_buttons_size }}px;
        height: {{ modal_buttons_size }}px;
      }

      .video-modal-toggle-{{ section.id }} span {
        font-size: {{ toggle_size }}px;
      }

      .video-modal-product-{{ section.id }} {
        padding-left: {{ product_padding_horizontal }}px;
        padding-right: {{ product_padding_horizontal }}px;
      }

      .video-modal-product-{{ section.id }}.active {
        padding-top: {{ product_padding_vertical }}px;
        padding-bottom: {{ product_padding_vertical }}px;
      }

      .video-modal-content-{{ section.id }} {
        height: 100%;
      }

      .video-product-image-{{ section.id }} {
        width: {{ product_image_size }}px;
      }

      .video-product-title-{{ section.id }} {
        font-size: {{ title_size }}px;
      }

      .video-product-price-{{ section.id }} * {
        font-size: {{ price_size }}px;
      }
    }
{%- endstyle -%}

{% unless full_width %}
  <style>
    .section-{{ section.id }}-settings {
      max-width: {{ content_width }}px;
    }
  </style>
{% endunless %}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }

    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if slide_ratio_mobile == 'portrait' %}
  <style>
    .video-slide-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif slide_ratio_mobile == 'landscape' %}
  <style>
    .video-slide-{{ section.id }} {
      aspect-ratio: 12/8;
    }
  </style>
{% elsif slide_ratio_mobile == 'square' %}
  <style>
    .video-slide-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .video-slide-{{ section.id }} {
    aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if slide_ratio == 'portrait' %}
  <style>
    @media (min-width: 1024px) {
      .video-slide-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif slide_ratio == 'landscape' %}
  <style>
    @media (min-width: 1024px) {
      .video-slide-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif slide_ratio == 'square' %}
  <style>
    @media (min-width: 1024px) {
      .video-slide-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
    @media (min-width: 1024px) {
      .video-slide-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% if arrow_hover_effect == 'color' %}
  <style>
    .video-btn-prev-{{ section.id }}:hover,
    .video-btn-next-{{ section.id }}:hover {
      transition: all 0.3s ease 0s;
      border: {{ arrow_border_thickness }}px solid {{ arrow_border_hover_color }};
      background: {{ arrow_bg_hover_color }};
    }

    .video-btn-prev-{{ section.id }}:hover .animate-icon,
    .video-btn-next-{{ section.id }}:hover .animate-icon {
      color: {{ arrow_hover_color }};
    }
  </style>
{% elsif arrow_hover_effect == 'scale' %}
  <style>
    .video-btn-prev-{{ section.id }}:hover,
    .video-btn-next-{{ section.id }}:hover {
      transform: scale(0.9) translateY(-50%);
    }

    @media(min-width: 1024px) {
      .video-btn-prev-{{ section.id }}:hover,
      .video-btn-next-{{ section.id }}:hover {
        transform: scale(0.9) translateY(-50%);
      }
    }
  </style>
{% elsif arrow_hover_effect == 'arrow' %}
  <style>
    .video-btn-next-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(1 * 0.125rem)) rotate(calc(1 * 45deg));
    }

    .video-btn-prev-{{ section.id }}:hover .animate-icon:before {
      transform: translate(calc(-1 * 0.125rem)) rotate(calc(1 * 45deg));
    }

    .video-btn-prev-{{ section.id }}:hover .animate-icon:after,
    .video-btn-next-{{ section.id }}:hover .animate-icon:after {
      opacity: 1;
      transform: scaleX(1);
    }
  </style>
{% endif %}

{% if arrow_show_mobile %}
  <style>
    .video-btn-prev-{{ section.id }},
    .video-btn-next-{{ section.id }} {
      display: flex;
    }

    .video-slider-wrapper-{{ section.id }} {
      padding-left: 0;
      padding-right: 0;
    }
  </style>
{% else %}
  <style>
    .video-btn-prev-{{ section.id }},
    .video-btn-next-{{ section.id }} {
      display: none;
    }
  </style>
{% endif %}

{% if arrow_show_desktop %}
  <style>
    @media(min-width: 1024px) {
      .video-btn-prev-{{ section.id }},
      .video-btn-next-{{ section.id }} {
        display: flex;
      }

      .video-slider-wrapper-{{ section.id }} {
        padding-left: 0;
        padding-right: 0;
      }
    }
  </style>
{% else %}
  <style>
    @media(min-width: 1024px) {
      .video-btn-prev-{{ section.id }},
      .video-btn-next-{{ section.id }} {
        display: none;
      }

      .video-slider-wrapper-{{ section.id }} {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  </style>
{% endif %}

{% comment %} PREVIEW {% endcomment %}
<style>
  .video-slider-{{ section.id }}.preview .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }

  .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
    width: 100%;
  }

  .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
    margin-left: {{ slider_gap_mobile }}px;
  }

  @media(min-width: 1024px) {
    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }}:not(:first-child) {
      margin-left: {{ slider_gap }}px;
    }

    .video-slider-{{ section.id }}.preview .video-slide-{{ section.id }} {
      width: calc(100% / {{ slider_view }} - ({{ slider_gap }}px * {{ slider_view | minus: 1 }}));
    }
  }
</style>

<div
  class="section-{{ section.id }} video-{{ section.id }}"
  style="background-color:{{ background_color }}; background-image: {{ background_gradient }};"
>
  <div class="section-{{ section.id }}-settings">
    {% if heading != blank %}
      <div class="video-heading-{{ section.id }}">{{ heading }}</div>
      <div class="video-sub-heading-{{ section.id }}">{{ sub_heading }}</div>
    {% endif %}

    <div class="video-slider-wrapper-{{ section.id }}">
      <div class="video-slider-{{ section.id }} swiper preview">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="video-slide-{{ section.id }} swiper-slide">
              {% if block.settings.video != blank %}
                <video
                  data-src="{{ block.settings.video.sources[1].url }}"
                  mute
                  muted
                  playsinline
                  preload="none"
                  class="lazy"
                ></video>
              {% else %}
               {% render 'lumin-play-icon' %}
              {% endif %}
              {% if block.settings.product != blank %}
                <a
                  href="{{ block.settings.product.url }}"
                  class="video-modal-product-{{ section.id }} active"
                  style="position: absolute;bottom: 0;width: 90%;left: 13px;"
                >
                  <div class="video-product-image-{{ section.id }}">
                    {% if block.settings.product.featured_image != blank %}
                      <img
                        src="{{ block.settings.product.featured_image | image_url }}"
                        alt="{{ block.settings.product.featured_image.alt }}"
                        {% if lazy %}
                          loading="lazy"
                        {% endif %}
                      >
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                  </div>
                  <div class="video-product-text-{{ section.id }}">
                    <h3 class="video-product-title-{{ section.id }} single-line-title">
                      {% if block.settings.product != blank %}
                        {{ block.settings.product.title }}
                      {% endif %}
                    </h3>
                    <div class="video-product-price-{{ section.id }}">
                      <p class="video-product-regural-price-{{ section.id }}">
                        {{ block.settings.product.price | money }}
                      </p>
                      {% if block.settings.product.compare_at_price != blank and price_compare %}
                        <p class="video-product-compare-price-{{ section.id }}">
                          {{ block.settings.product.compare_at_price | money }}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <button class="video-btn-prev-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>
      <button class="video-btn-next-{{ section.id }}">
        <span class="animate-icon"></span>
      </button>
    </div>
  </div>
</div>

<div class="video-modal-{{ section.id }}">
  <div class="video-modal-inner-{{ section.id }}">
    <div class="video-modal-slider-{{ section.id }} swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="video-modal-slide-{{ section.id }} swiper-slide">
            <button class="video-modal-player-{{ section.id }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                viewBox="0 0 200 200"
                class="IconButton__Icon-sc-6jboai-1 hGZoMt"
              >
                <path d="M154.1 91.2 76.5 36.3c-7.5-5.3-17.9.1-17.9 9.3v109.8c0 9.2 10.4 14.6 17.9 9.3l77.6-54.9c6.4-4.6 6.4-14.1 0-18.6" class="icon-play_svg__st0"></path>
              </svg>
            </button>
            <div class="video-modal-content-{{ section.id }}">
              <div class="video-modal-content-top-{{ section.id }}">
                <div class="video-modal-content-left-{{ section.id }}">
                  <button class="video-modal-close-{{ section.id }}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0002 10.586L4.70718 3.29297L3.29297 4.70718L10.586 12.0002L3.29297 19.2933L4.70718 20.7075L12.0002 13.4145L19.2933 20.7075L20.7075 19.2933L13.4145 12.0002L20.7075 4.70723L19.2933 3.29302L12.0002 10.586Z" fill="white"></path>
                    </svg>
                  </button>
                  {% if block.settings.product != blank %}
                    <button class="video-modal-toggle-{{ section.id }} active">
                      <span>{{ toggle_text }}</span>
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 44.308 44.308"
                        fill="#fff"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.767 20.849 16.727 5.809a0.923 0.923 0 0 0 -1.305 0l-1.305 1.305a0.923 0.923 0 0 0 0 1.305L27.851 22.154l-13.735 13.734a0.923 0.923 0 0 0 0 1.305l1.306 1.305a0.923 0.923 0 0 0 1.305 0l15.04 -15.04a1.846 1.846 0 0 0 0 -2.61Z"></path>
                      </svg>
                    </button>
                  {% endif %}
                </div>
                <div class="video-modal-controls-{{ section.id }}">
                  <div class="video-modal-controls-top-{{ section.id }}"></div>
                  <div class="video-modal-controls-center-{{ section.id }}">
                    <button class="video-modal-btn-prev-{{ section.id }}">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 44.308 44.308"
                        fill="#fff"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.767 20.849 16.727 5.809a0.923 0.923 0 0 0 -1.305 0l-1.305 1.305a0.923 0.923 0 0 0 0 1.305L27.851 22.154l-13.735 13.734a0.923 0.923 0 0 0 0 1.305l1.306 1.305a0.923 0.923 0 0 0 1.305 0l15.04 -15.04a1.846 1.846 0 0 0 0 -2.61Z"></path>
                      </svg>
                    </button>
                    <button class="video-modal-btn-next-{{ section.id }}">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 44.308 44.308"
                        fill="#fff"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.767 20.849 16.727 5.809a0.923 0.923 0 0 0 -1.305 0l-1.305 1.305a0.923 0.923 0 0 0 0 1.305L27.851 22.154l-13.735 13.734a0.923 0.923 0 0 0 0 1.305l1.306 1.305a0.923 0.923 0 0 0 1.305 0l15.04 -15.04a1.846 1.846 0 0 0 0 -2.61Z"></path>
                      </svg>
                    </button>
                  </div>
                  <div class="video-modal-sound-{{ section.id }}">
                    <svg class="video-modal-mute-{{ section.id }}" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path><path d="M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm14.525-4l3.536 3.536-1.414 1.414L19 13.414l-3.536 3.536-1.414-1.414L17.586 12 14.05 8.464l1.414-1.414L19 10.586l3.536-3.536 1.414 1.414L20.414 12z"></path>
                    </svg>
                    <svg class="video-modal-unmute-{{ section.id }}" viewBox="0 0 24 24" width="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path><path d="M5.889 16H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.889l5.294-4.332a.5.5 0 0 1 .817.387v15.89a.5.5 0 0 1-.817.387L5.89 16zm13.517 4.134l-1.416-1.416A8.978 8.978 0 0 0 21 12a8.982 8.982 0 0 0-3.304-6.968l1.42-1.42A10.976 10.976 0 0 1 23 12c0 3.223-1.386 6.122-3.594 8.134zm-3.543-3.543l-1.422-1.422A3.993 3.993 0 0 0 16 12c0-1.43-.75-2.685-1.88-3.392l1.439-1.439A5.991 5.991 0 0 1 18 12c0 1.842-.83 3.49-2.137 4.591z"></path>
                    </svg>
                  </div>
                </div>
              </div>
              {% if block.settings.product != blank %}
                <a href="{{ block.settings.product.url }}" class="video-modal-product-{{ section.id }} active">
                  <div class="video-product-image-{{ section.id }}">
                    {% if block.settings.product.featured_image != blank %}
                      <img
                        src="{{ block.settings.product.featured_image | image_url }}"
                        alt="{{ block.settings.product.featured_image.alt }}"
                        {% if lazy %}
                          loading="lazy"
                        {% endif -%}
                        }
                      >
                    {% else %}
                      {{ 'image' | placeholder_svg_tag }}
                    {% endif %}
                  </div>
                  <div class="video-product-text-{{ section.id }}">
                    <h3 class="video-product-title-{{ section.id }}">
                      {% if block.settings.product != blank %}
                        {{ block.settings.product.title }}
                      {% endif %}
                    </h3>
                    <div class="video-product-price-{{ section.id }}">
                      <p class="video-product-regural-price-{{ section.id }}">
                        {{ block.settings.product.price | money }}
                      </p>
                      {% if block.settings.product.compare_at_price != blank and price_compare %}
                        <p class="video-product-compare-price-{{ section.id }}">
                          {{ block.settings.product.compare_at_price | money }}
                        </p>
                      {% endif %}
                    </div>
                  </div>
                </a>
              {% endif %}
            </div>
            {% if use_progress %}
              <progress id="progress{{ section.id | replate: '-', '' }}" max="100" value="0"></progress>
            {% endif %}
            <div class="video-modal-video-{{ section.id }}">
              {% if block.settings.video != blank %}
                <video src="{{ block.settings.video.sources[1].url }}" muted playsinline preload="none"></video>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'lazyload.min.js' | asset_url }}" defer="defer"></script>
<script>
  function loadSwiper(callback) {
  if (window.Swiper) {
    callback();
  } else {
    const script = document.createElement('script');
    script.src = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js";
    script.onload = callback;
    document.head.appendChild(script);
  }
}

function initShoppableVideo(sectionId) {
  const lazyLoadInstance = new LazyLoad();

  window.addEventListener(
    "LazyLoad::Initialized",
    (event) => {
      window.lazyLoadInstance = event.detail.instance;
    },
    false
  );

  const sliderElement = document.querySelector(`.video-slider-${sectionId}`);
  if (!sliderElement) return;
  sliderElement.classList.remove('preview');

  const slider = new Swiper(`.video-slider-${sectionId}`, {
    speed: 300,
    loop: true,
    {% if section.settings.auto_rotate %}
    autoplay: {
               delay: {{ section.settings.change_slides_speed | times: 1000 }},
              },
      {% endif %}
    navigation: {
      nextEl: `.video-btn-next-${sectionId}`,
      prevEl: `.video-btn-prev-${sectionId}`,
    },
    breakpoints: {
      320: {
        spaceBetween: {{ slider_gap_mobile }},
        slidesPerView: {{ slider_view_mobile }},
      },
      768: {
        spaceBetween: {{ slider_gap_mobile }},
        slidesPerView: {{ slider_view | times: 0.5 | round: 0 }},
      },
      1024: {
        spaceBetween: {{ slider_gap }},
        slidesPerView: {{ slider_view }},
      },
    },
     on: {
        slideChange: function () {
          const slides = this.slides;

          for (let i = 0; i < slides.length; i++) {
            let video = slides[i].querySelector('video');
            
            if (i === this.activeIndex) {
              if (video) {
                video.play();
              }
            } else {
              if (video) {
                video.pause();
              }
            }
          }
        },
        init() {
        this.emit('slideChange');
      },
      }
  });

  const modalSlider = new Swiper(`.video-modal-slider-${sectionId}`, {
    speed: 300,
    loop: true,
    direction: 'vertical',
    mousewheel: { invert: false },
    slidesPerView: 1,
    navigation: {
      nextEl: `.video-modal-btn-next-${sectionId}`,
      prevEl: `.video-modal-btn-prev-${sectionId}`,
    },
    on: {
      slideChange() {
        this.slides.forEach((slide, i) => {
          const video = slide.querySelector('video');
          if (video) {
            i === this.activeIndex ? video.play() : video.pause();
          }
        });
      },
      init() {
        this.emit('slideChange');
      },
    },
  });

  const slides = document.querySelectorAll(`.video-slide-${sectionId}`);
  const modal = document.querySelector(`.video-modal-${sectionId}`);
  const modalCloses = document.querySelectorAll(`.video-modal-close-${sectionId}`);
  const modalSlides = document.querySelectorAll(`.video-modal-slide-${sectionId}`);

  slides.forEach((slide, index) => {
    const video = slide.querySelector('video');
    if (video) {
      video.addEventListener('ended', () => slider.slideNext());
    }
    slide.addEventListener('click', () => {
      modalSlider.slideToLoop(index);
      setTimeout(() => {
        modalSlider.slides.forEach((modalSlide) => {
          if (modalSlide.classList.contains('swiper-slide-active')) {
            const video = modalSlide.querySelector('video');
            document.body.style.overflow = 'hidden';
            modal.classList.add('active');
            if (video) video.play();
          }
        });
      }, 200);
    });
  });

  modalCloses.forEach((modalClose) => {
    modalClose.addEventListener('click', () => {
      document.body.style.overflow = '';
      modal.classList.remove('active');
      modal.querySelectorAll('video').forEach((video) => video.pause());
    });
  });

  document.addEventListener('click', (e) => {
    if (e.target === modal) {
      document.body.style.overflow = '';
      modal.classList.remove('active');
      modal.querySelectorAll('video').forEach((video) => video.pause());
    }
  });

  modalSlides.forEach((modalSlide) => {
    const video = modalSlide.querySelector('video');
    const sound = modalSlide.querySelector(`.video-modal-sound-${sectionId}`);
    const toggle = modalSlide.querySelector(`.video-modal-toggle-${sectionId}`);
    const product = modalSlide.querySelector(`.video-modal-product-${sectionId}`);
    const progress = modalSlide.querySelector('progress');

    if (video) {
      video.addEventListener('ended', () => {
        video.pause();
        video.currentTime = 0;
        modalSlider.slideNext();
      });

      if (progress) {
        setInterval(() => {
          if (video.duration && isFinite(video.duration)) {
            progress.value = Math.round((video.currentTime / video.duration) * 100);
          }
        }, 1000);
      }
    }

    modalSlide.querySelector(`.video-modal-content-top-${sectionId}`)?.addEventListener('click', (e) => {
      if (e.target === modalSlide) {
        if (modalSlide.classList.contains('active')) {
          video?.play();
        } else {
          video?.pause();
        }
        modalSlide.classList.toggle('active');
      }
    });

    sound?.addEventListener('click', () => {
      if (video) {
        video.muted = !video.muted;
        sound.classList.toggle('active');
      }
    });

    toggle?.addEventListener('click', () => {
      product?.classList.toggle('active');
      toggle.classList.toggle('active');
    });
  });
}

function initializeAllShoppableVideo3Sections() {
  document.querySelectorAll('[id^="shopify-section-"]').forEach((section) => {
    const sectionId = section.id.replace('shopify-section-', '');
    if (section.querySelector(`.video-slider-${sectionId}`)) {
      loadSwiper(() => initShoppableVideo(sectionId));
    }
  });
}

if (document.readyState === 'loading') {
  document.addEventListener('DOMContentLoaded', initializeAllShoppableVideo3Sections);
} else {
  initializeAllShoppableVideo3Sections();
}

if (Shopify.designMode) {
  document.addEventListener('shopify:section:load', (event) => {
    const sectionId = event.detail.sectionId;
    if (event.target.querySelector(`.video-slider-${sectionId}`)) {
      loadSwiper(() => initShoppableVideo(sectionId));
    }
  });
}


</script>

{% schema %}
{
  "name": "Shoppable video",
  "disabled_on": {
  "groups": ["custom.popup", "header", "footer"]
   },
  "settings": [
    {
      "type": "paragraph",
      "content":"Save settings to see section in action"
    },
    {
      "type": "header",
      "content": "Heading settings"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": true,
      "info": "Work when number of slides are more then Slides per view. \"(note: slides will auto rotate when finished playing first video if disable)\""
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Text",
      "default": "<h2>Shoppable Videos</h2>"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 28
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 20
    },
    {
      "type": "range",
      "id": "heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
     {
      "type": "richtext",
      "id": "sub_heading",
      "label": "Text",
      "default": "<p>Sub Heading Text</p>"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size",
      "default": 16
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "sub_heading_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "text_alignment",
      "id": "sub_heading_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "sub_heading_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "range",
      "id": "slider_view",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "Slides per view",
      "default": 4
    },
    {
      "type": "range",
      "id": "slider_view_mobile",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "label": "Slides per view - mobile",
      "default": 1.3
    },
    {
      "type": "range",
      "id": "slider_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 8
    },
    {
      "type": "range",
      "id": "slider_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "slider_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 28
    },
    {
      "type": "range",
      "id": "slider_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 24
    },
    {
      "type": "header",
      "content": "Slide settings"
    },
    {
      "type": "select",
      "id": "slide_ratio",
      "label": "Aspect ratio",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "slide_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "portrait",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
       "type": "range",
       "id": "slide_radius",
       "min": 0,
       "max": 100,
       "step": 2,
       "unit": "px",
       "label": "Roundness",
       "default": 2
    },
    {
       "type": "range",
       "id": "slide_border_thickness",
       "min": 0,
       "max": 10,
       "step": 1,
       "unit": "px",
       "label": "Border thickness",
       "default": 0
    },
    {
      "type": "header",
      "content": "Arrow settings"
    },
    {
      "type": "range",
      "id": "arrow_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 32
    },
    {
      "type": "range",
      "id": "arrow_size_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 28
    },
    {
      "type": "range",
      "id": "arrow_icon_size",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Icon size",
      "default": 10
    },
    {
      "type": "range",
      "id": "arrow_icon_size_mobile",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Icon size - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "arrow_border_thickness",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "arrow_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 100
    },
    {
      "type": "select",
      "id": "arrow_hover_effect",
      "label": "Hover effect",
      "default": "color",
      "options": [
        {
          "label": "Change color",
          "value": "color"
        },
        {
          "label": "Change size",
          "value": "scale"
        },
        {
          "label": "Change arrow",
          "value": "arrow"
        },
        {
          "label": "None",
          "value": "none"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "arrow_show_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "arrow_show_mobile",
      "label": "Show on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Modal settings"
    },
    {
      "type": "range",
      "id": "modal_width",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Width - desktop",
      "default": 330
    },
    {
      "type": "select",
      "id": "modal_horizontal_position",
      "label": "Horizontal position - desktop",
      "default": "center",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        }
      ]
    },
    {
      "type": "select",
      "id": "modal_vertical_position",
      "label": "Vertical position - desktop",
      "default": "center",
      "options": [
        {
          "label": "Top",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Bottom",
          "value": "end"
        }
      ]
    },
    {
      "type": "range",
      "id": "modal_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 6
    },
    {
      "type": "range",
      "id": "modal_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "modal_overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "px",
      "label": "Overlay",
      "default": 0.1
    },
    {
      "type": "header",
      "content": "Modal buttons settings"
    },
    {
      "type": "range",
      "id": "modal_buttons_size",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 40
    },
    {
      "type": "range",
      "id": "modal_buttons_size_mobile",
      "min": 10,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Modal video settings"
    },
    {
      "type": "checkbox",
      "label": "Use progress bar",
      "id": "use_progress",
      "default": true
    },
    {
      "type": "header",
      "content": "Play icon settings"
    },
    {
      "type": "range",
      "id": "player_size",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 40
    },
    {
      "type": "range",
      "id": "player_size_mobile",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 40
    },
    {
      "type": "header",
      "content": "Modal product toggle settings"
    },
    {
      "type": "text",
      "id": "toggle_text",
      "label": "Text",
      "default": "View product"
    },
    {
      "type": "range",
      "id": "toggle_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "toggle_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "toggle_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Modal product settings"
    },
    {
      "type": "range",
      "id": "product_padding_vertical",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding vertical",
      "default": 8
    },
    {
      "type": "range",
      "id": "product_padding_vertical_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "product_padding_horizontal",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 8
    },
    {
      "type": "range",
      "id": "product_padding_horizontal_mobile",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "product_radius",
      "min": 0,
      "max": 48,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "header",
      "content": "Product image settings"
    },
    {
      "type": "range",
      "id": "product_image_size",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size",
      "default": 50
    },
    {
      "type": "range",
      "id": "product_image_size_mobile",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Size - mobile",
      "default": 44
    },
    {
      "type": "range",
      "id": "product_image_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Roundness",
      "default": 4
    },
    {
      "type": "header",
      "content": "Product title settings"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 15
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 140
    },
    {
      "type": "header",
      "content": "Product price settings"
    },

    {
      "type": "range",
      "id": "price_size",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
    {
      "type": "range",
      "id": "price_size_mobile",
      "min": 0,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 14
    },
    {
      "type": "range",
      "id": "price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 140
    },
    {
      "type": "checkbox",
      "id": "price_compare",
      "label": "Show compare at price",
      "default": true
    },
    {
      "type": "header",
      "content": "Slide colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "slide_border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Arrow colors"
    },
    {
      "type": "color",
      "label": "Icon",
      "id": "arrow_color",
      "default": "#7B7B7B"
    },
    {
      "type": "color",
      "label": "Icon hover",
      "id": "arrow_hover_color",
      "default": "#7B7B7B"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "arrow_bg_color",
      "default": "#EBEBEB"
    },
    {
      "type": "color",
      "label": "Background hover",
      "id": "arrow_bg_hover_color",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "arrow_border_color",
      "default": "#C7C7C7"
    },
    {
      "type": "color",
      "label": "Border hover",
      "id": "arrow_border_hover_color",
      "default": "#C7C7C7"
    },
    {
      "type": "header",
      "content": "Modal colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "modal_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Overlay",
      "id": "modal_overlay_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Buttons icon",
      "id": "modal_buttons_icon_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Play icon",
      "id": "player_color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Modal product colors"
    },
    {
      "type": "color",
      "label": "Toggle text",
      "id": "toggle_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Title",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Price",
      "id": "price_original_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Compare price",
      "id": "compare_price_color",
      "default": "#C7C7C7"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Heading",
      "id": "heading_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
       "type": "range",
       "id": "padding_bottom",
       "min": 0,
       "max": 100,
       "step": 4,
       "unit": "px",
       "label": "Padding bottom",
       "default": 36
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 800,
      "max": 2000,
      "step": 100,
      "unit": "px",
      "label": "Section content width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video from Shopify"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shoppable videos",
      "blocks": [
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
